@import "tailwindcss";
@plugin "daisyui";

.input-style {
  @apply w-full border px-3 py-2 rounded-md outline-none focus:ring focus:ring-blue-200;
  @apply w-full px-3 py-2 border rounded focus:outline-none focus:ring;

}

.banner-carousel {
  height: 70vh; 
  overflow: hidden;
}


.carousel .carousel-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.carousel .control-arrow {
  background-color: rgba(0, 0, 0, 0.5); 
}
